name: Test Gnofract 4D

on:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]
  push:
    branches: ["master"]
  workflow_dispatch:  # allow manual triggering from GitHub UI

jobs:
  run:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04]
        python: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        toxenv: [py]
        # Ensure ../codecov.yml uploads after all py jobs
        include:
          - os: macos-13
            python: "3.12"
            toxenv: py

    env:
      # For labelling Codecov report
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install macOS packages
        if: ${{ runner.os == 'macOS' }}
        run: brew install gtk4 ninja pygobject3
        # Prevent delay caused by:
        # `brew cleanup` has not been run in 30 days, running now...
        env:
          HOMEBREW_NO_INSTALL_CLEANUP: 1
      - name: Install Ubuntu packages
        if: ${{ runner.os == 'Linux' }}
        # libcairo2-dev and libgirepository-2.0-dev required to build PyGObject from source
        # dbus-x11 avoids timeouts, failed to execute "dbus-launch"
        # git for bin/version
        # gvfs is needed for Gio.AppInfo.launch_default_for_uri()
        # libxml2-utils provides xmllint for xml-stripblanks in gresource.xml
        # libgles2 system dependency is not automatically installed on ubuntu-24.04
        run: |
          sudo apt update
          sudo apt install dbus-x11 gir1.2-gtk-4.0 git gvfs libcairo2-dev libgirepository-2.0-dev libgles2 \
            libjpeg-dev libpng-dev libxml2-utils ninja-build xvfb
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true
      - name: Install Tox and any other PyPI packages
        run: pip install meson pytest tox
      - name: Build
        run: |
            meson setup _build
            meson compile -C _build
      - name: Run Tox (MacOS)
        if: ${{ runner.os == 'macOS' }}
        run: tox -e ${{ matrix.toxenv }}
      - name: Run Tox (Linux)
        if: ${{ runner.os == 'Linux' }}
        run: xvfb-run --auto-servernum tox -e ${{ matrix.toxenv }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage.xml
          env_vars: OS,PYTHON

  lint:

    name: ${{ matrix.toxenv }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toxenv:
          - pylint

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Ubuntu packages
        # libglib2.0-dev-bin provides glib-compile-resources
        run: |
          sudo apt update
          sudo apt install gir1.2-gtk-4.0 git libglib2.0-dev-bin libjpeg-dev libpng-dev \
            libxml2-utils ninja-build python3-gi
      - name: Install Tox and any other PyPI packages
        run: pip install meson pytest tox
      - name: Build
        run: |
            meson setup _build
            meson compile -C _build
      - name: Run ${{ matrix.toxenv }}
        run: tox -e ${{ matrix.toxenv }}
